# Ignore global OS/editor files
.DS_Store
Thumbs.db
*.log
*.tmp

# Ignore Visual Studio / Rider / VS Code IDE settings
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore .env files (credentials/settings)
**/.env

# Ignore build and publish folders (for .NET apps)
**/.vs/
**/bin/
**/obj/
**/publish/

DiscountCodeClient/bin/Debug/net8.0/DiscountClient.deps.json
DiscountCodeClient/bin/Debug/net8.0/DiscountClient.dll
DiscountCodeClient/bin/Debug/net8.0/DiscountClient.exe
DiscountCodeClient/bin/Debug/net8.0/DiscountClient.pdb
DiscountCodeClient/.vs/DiscountClient/DesignTimeBuild/.dtbcache.v2
DiscountCodeClient/.vs/DiscountClient/FileContentIndex/69603a1b-4fc6-44eb-a3ae-03460644aa98.vsidx
DiscountCodeClient/.vs/DiscountClient/FileContentIndex/95955dd0-4d74-4af7-9dfc-f7673d02d212.vsidx
DiscountCodeClient/.vs/DiscountClient/FileContentIndex/c35fd1bb-d213-4053-98df-0e1ebc6697be.vsidx
DiscountCodeClient/.vs/DiscountClient/FileContentIndex/e459da59-0ef5-4bae-ab69-0b14a25983f3.vsidx
DiscountCodeClient/.vs/DiscountClient/v17/.futdcache.v2
DiscountCodeClient/.vs/DiscountClient/v17/.suo
DiscountCodeClient/.vs/DiscountClient/v17/DocumentLayout.backup.json
DiscountCodeClient/.vs/DiscountClient/v17/DocumentLayout.json
DiscountCodeClient/.vs/ProjectEvaluation/discountclient.metadata.v9.bin
DiscountCodeClient/.vs/ProjectEvaluation/discountclient.projects.v9.bin
DiscountCodeClient/.vs/ProjectEvaluation/discountclient.strings.v9.bin
DiscountCodeServer/.vs/DiscountServer/DesignTimeBuild/.dtbcache.v2
DiscountCodeServer/.vs/DiscountServer/FileContentIndex/1e37b26c-520c-4a10-9ed5-d3b30e217cc6.vsidx
DiscountCodeServer/.vs/DiscountServer/FileContentIndex/614d8cdd-c744-427a-808f-1965236f2667.vsidx
DiscountCodeServer/.vs/DiscountServer/v17/.futdcache.v2
DiscountCodeServer/.vs/DiscountServer/v17/.suo
DiscountCodeServer/.vs/DiscountServer/v17/DocumentLayout.backup.json
DiscountCodeServer/.vs/DiscountServer/v17/DocumentLayout.json
DiscountCodeServer/.vs/ProjectEvaluation/discountserver.metadata.v9.bin
DiscountCodeServer/.vs/ProjectEvaluation/discountserver.projects.v9.bin
DiscountCodeServer/.vs/ProjectEvaluation/discountserver.strings.v9.bin
DiscountCodeServer/obj/DiscountServer.csproj.nuget.dgspec.json
DiscountCodeServer/obj/DiscountServer.csproj.nuget.g.props
DiscountCodeServer/obj/DiscountServer.csproj.nuget.g.targets
DiscountCodeServer/obj/project.assets.json
DiscountCodeServer/obj/project.nuget.cache
DiscountCodeServer/obj/Debug/net8.0/apphost.exe
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.AssemblyInfo.cs
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.AssemblyInfoInputs.cache
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.assets.cache
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.csproj.CoreCompileInputs.cache
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.csproj.FileListAbsolute.txt
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.dll
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.GeneratedMSBuildEditorConfig.editorconfig
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.genruntimeconfig.cache
DiscountCodeServer/obj/Debug/net8.0/DiscountServer.pdb
DiscountCodeServer/obj/Debug/net8.0/ref/DiscountServer.dll
DiscountCodeServer/obj/Debug/net8.0/refint/DiscountServer.dll
DiscountCodeServer/bin/Debug/net8.0/codes.json
DiscountCodeServer/bin/Debug/net8.0/DiscountServer.deps.json
DiscountCodeServer/bin/Debug/net8.0/DiscountServer.dll
DiscountCodeServer/bin/Debug/net8.0/DiscountServer.exe
DiscountCodeServer/bin/Debug/net8.0/DiscountServer.pdb
DiscountCodeClient/bin/Debug/net8.0/DiscountClient.deps.json
DiscountCodeClient/bin/Debug/net8.0/DiscountClient.dll
DiscountCodeClient/bin/Debug/net8.0/DiscountClient.exe
DiscountCodeClient/bin/Debug/net8.0/DiscountClient.pdb
DiscountCodeClient/.vs/DiscountClient/DesignTimeBuild/.dtbcache.v2
DiscountCodeClient/.vs/DiscountClient/FileContentIndex/69603a1b-4fc6-44eb-a3ae-03460644aa98.vsidx
DiscountCodeClient/.vs/DiscountClient/FileContentIndex/95955dd0-4d74-4af7-9dfc-f7673d02d212.vsidx
DiscountCodeClient/.vs/DiscountClient/FileContentIndex/c35fd1bb-d213-4053-98df-0e1ebc6697be.vsidx
DiscountCodeClient/.vs/DiscountClient/FileContentIndex/e459da59-0ef5-4bae-ab69-0b14a25983f3.vsidx
DiscountCodeClient/.vs/DiscountClient/v17/.futdcache.v2
DiscountCodeClient/.vs/DiscountClient/v17/.suo
DiscountCodeClient/.vs/DiscountClient/v17/DocumentLayout.backup.json
DiscountCodeClient/.vs/DiscountClient/v17/DocumentLayout.json
DiscountCodeClient/.vs/ProjectEvaluation/discountclient.metadata.v9.bin
DiscountCodeClient/.vs/ProjectEvaluation/discountclient.projects.v9.bin
DiscountCodeClient/.vs/ProjectEvaluation/discountclient.strings.v9.bin
